/* google fonts imported for design */
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

/* CSS below this line will impact all pages 
nav {
    display: grid;
    grid-template-rows: 127px;
    font-family: 'Fredericka the Great', cursive;
    font-size: ;

}
*/
header {
    display: flex;
    justify-content: center;
    background-color: aqua;

}
#logo {
    width: auto;
    height: 125px;
    align-self: flex-start;
    
}
nav {
    display: flex;
    font-family: 'Fredericka the Great', cursive;
    justify-content: center;
    font-size: 1.15em;
    align-items: center;
    margin-left: 50px;
}

#menu {
    align-self: flex-start;
    position: absolute;
}
#catering { 
    align-self: flex-end;
    position: absolute;
}



/* CSS below this line will impact home page only */
